  @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$primary: hsl(25,97%,53%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(217, 12%, 63%);
$medium-gray: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$paragraph-size: 15px;

$font-family: 'Overpass', sans-serif ;

body {
  font-family: $font-family;
  font-size: $paragraph-size;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-bg {
  background-color: $very-dark-blue;
}

.card-bg {
  background-color: $dark-blue;
}

.circle-bg {
    background-color: #262E38;
}

.rating{
    color: $medium-gray;
}

.rating-complete {
    color: $primary;
}

.rating-circle {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $medium-gray;
    background-color:;
    &:hover {
        background-color: $light-gray;
        color: white;
    }
    
} 
.hidden {
    display: none;
}